body {
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 1rem;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.custom-pink {
  background-color: #ff69b4;
}

.uniform-img{
  width: 18rem;
  height: 200px;
  object-fit: cover;
}