body {
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 1rem;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.custom-pink {
  background-color: #ff69b4;
}

.uniform-img{
  width: 288px;
  height: 200px;
  object-fit: cover;
}

.card{
  width: 18rem;
  height: 24rem;
}

.card-body{
  background-color: rgb(250, 230, 250);
}

.btn-pink {
  background-color: #ff69b4; /* Hot Pink */
  border-color: #ff69b4;
  color:white;
}

.btn-pink:hover {
  background-color: #e0559f; /* Darker pink on hover */
  border-color: #e0559f;
}
